{% extends 'admin.main.twig' %}
{% block content %}
    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ title }}</h2>
                </header>
                <div class="card-body">
                    <form class="form-horizontal form-bordered" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}">
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2">Nome</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="name" value="{{ old('name', grid.description) }}" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2">Status</label>
                            <div class="col-lg-6">
                                <select class="form-control" name="status" required="required">
                                    <option value="">Selecione</option>
                                    {% for status in listStatus %}
                                        <option value="{{ status.value }}" {% if is_numeric(old('status', grid.status)) and old('status', grid.status) == status.value %}selected="selected"{% endif %}>
                                            {{ status.description }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-lg-3 col-lg-6">
                                <input type="submit" class="btn btn-primary" value="Salvar">
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script>
        function clearIconName(valor) {
            var name = valor.replace(/.*"(.*)".*/g, '$1');
            document.getElementById('icon').value=name;
        }
    </script>
{% endblock footer %}


