{% extends 'site.main.twig' %}

{% block content %}
	<section class="page-header page-header-classic">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="breadcrumb">
						<li><a href="{{ route('home') }}">Inicial</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col p-static">
					<h1 data-title-border>Login</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="featured-boxes">
					<div class="row">
						<div class="col-md-6">
							<div class="featured-box featured-box-primary text-left mt-5">
								<div class="box-content">
									<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Já Possuo Conta no site</h4>
									<form action="{{ route('login') }}" id="frmSignIn" method="post" class="needs-validation">
										{{ csrf_field() }}
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark text-2">E-mail</label>
												<input name="email" type="text" value="{{ old('email') }}" class="form-control form-control-lg" required>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark text-2">Senha</label>
												<input name="password" type="password" value="" class="form-control form-control-lg" required>
												<a class="float-right mt-2" href="{{ route('customer.password.request') }}">Esqueceu sua senha?</a>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-lg-6">
												<div class="custom-control custom-checkbox">
													<input name="remember" type="checkbox" class="custom-control-input" id="rememberme">
													<label class="custom-control-label text-2" for="rememberme">Lembrar de mim</label>
												</div>
											</div>
											<div class="form-group col-lg-6">
												<input type="submit" value="Logar" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="featured-box featured-box-primary text-left mt-5">
								<div class="box-content">
									<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Registrar uma nova conta</h4>
									<form action="{{ route('customer.store') }}" id="frmSignUp" method="post" class="needs-validation">
										{{ csrf_field() }}
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark text-2">Nome</label>
												<input name="name" type="text" value="{{ old('name') }}" class="form-control form-control-lg" required>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark text-2">Sobrenome</label>
												<input name="last_name" type="text" value="{{ old('last_name') }}" class="form-control form-control-lg" required>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark text-2">CPF</label>
												<input id="cpf" name="cpf" type="text" value="{{ old('cpf') }}" class="form-control form-control-lg" required>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark text-2">E-mail</label>
												<input name="email" type="text" value="{{ old('email') }}" class="form-control form-control-lg" required>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-lg-6">
												<label class="font-weight-bold text-dark text-2">Senha</label>
												<input name="password" type="password" value="" class="form-control form-control-lg" required>
											</div>
											<div class="form-group col-lg-6">
												<label class="font-weight-bold text-dark text-2">Confirme a Senha</label>
												<input name="password_confirmation" type="password" value="" class="form-control form-control-lg" required>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-lg-9">
												<div class="custom-control custom-checkbox">
													<input name="terms" type="checkbox" class="custom-control-input" id="terms">
													<label class="custom-control-label text-2" for="terms">Li e aceito os temos de serviço <a href="#">termos de serviço</a></label>
												</div>
											</div>
											<div class="form-group col-lg-3">
												<input type="submit" value="Registrar" class="btn btn-primary btn-modern float-right">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block footer %}
	<script type="text/javascript" src="/general/components/jquery-mask-plugin/src/jquery.mask.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#cpf').mask('000.000.000-00');
		});
	</script>
{% endblock %}